<div tal:attributes="class params/classHome">
	<tal:block tal:repeat="channel channels">
		<h2 change:h="" tal:content="channel/get_title">Channel Title</h2>
		<ol class="feedrss">
			<li tal:repeat="item channel/get_items">
				<h3 change:h="">
					<a class="link" tal:condition="not: params/openWindow" tal:attributes="href item/get_permalink">${item/get_cropTitle}</a>
					<a class="link popup" tal:condition="params/openWindow" tal:attributes="href item/get_permalink" onclick="return accessiblePopup(this);">${item/get_cropTitle</a>
				</h3>
				<tal:block tal:condition="not: params/titleOnly">
					<p tal:condition="item/get_date" class="date-feedrss">${item/get_local_date}</p>
					<p tal:condition="backoffice" class="content-feedrss">${item/get_content_for_backoffice}</p>
					<p tal:condition="not: backoffice" class="content-feedrss">${item/get_content}</p>
				</tal:block>
			</li>
		</ol>
	</tal:block>
</div>