<div tal:attributes="class params/classHome">
	<h2 class="title" tal:content="channel/get_title">Channel Title</h2>
	<ol class="feedrss">
		<li tal:repeat="item channel/get_items">
			<h3 class="title">
				<a class="link" tal:condition="not: params/openWindow" tal:attributes="href item/get_permalink" tal:content="item/get_cropTitle"/>
				<a class="link popup" tal:condition="params/openWindow" tal:attributes="href item/get_permalink" tal:content="item/get_cropTitle" onclick="return accessiblePopup(this);"/>
			</h3>
			<tal:block tal:condition="not: params/titleOnly">
				<p tal:condition="item/get_date" tal:content="item->get_local_date()" class="date-feedrss" />
				<p tal:condition="backoffice" tal:content="item/get_content_for_backoffice" class="content-feedrss"/>
				<p tal:condition="not: backoffice" tal:content="item/get_content" class="content-feedrss"/>
			</tal:block>
		</li>
	</ol>
</div>